<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>vue-boolflix</title>

		<!-- FONTAWESOME -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

		<!-- AGGIUNGERE I/IL PERCORSO/I DI CSS -->
		<link rel="stylesheet" href="assets/css/style.css">

	</head>

	<body>

		<div class="container">

			<div id="app">

				<div class="header">

					<div class="d_flex">
						<img class="header_img" src="assets/img/boolflix.png" alt="">
	
						<div class="userAccout">
							<h1>utente</h1>
						</div>
					</div>

					<div class="nav_upper">

						<div class="search_bar d_flex">
		
							<div class="search_utility d_flex">
								<select id="selettore" @change="genreSelector() & languageSelector() & obtainInfo(genre,language,userResearch)">
									<option value="film">Film</option>
									<option value="tv">Tv</option>
								</select>
								
								<!-- <form @submit.prevent="obtainInfo(genre,language,userResearch)"> -->
								<form @keyup="obtainInfo(genre,language,userResearch)"><!-- usando questa  forma il bottone diventa inutile -->
									<input class="search_input" placeholder="Cerca i tuoi contenuti preferiti" type="text" v-model="userResearch">
									<!-- <button type="submit" class="search_button d_flex"> <i class="fas fa-search"></i> Cerca</button> -->
								</form>

								<select id="language"  @change="languageSelector()">
									<option value="it_IT">Italiano</option>
									<option value="en_EN">inglese</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="main">

					<div class="genre_container container">

						<div class="genre_card" v-for="genre in usefullInfo">
	
							<img class="cover_img" :src="obtainCover(genre.backdrop_path)" alt="Cover non disponibile">
	
							<h3 class="title">{{genre.title}}</h3>
							<h3 class="original_title" v-if="genre.title != genre.original_title">{{genre.original_title}}</h3>
							<span class="vote"> <i class="fas fa-star vote" v-for="star in genre.fullStar"></i> {{genre.vote_average}}/5 </span>
							<img class="language_img" :alt="(genre.original_language)" :src="obtainLanguage(genre.original_language)">
							<!-- <p>{{genre.overview}}</p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<!-- Vue-JS -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<!-- ajax -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
		<!-- JS -->
		<script type="text/javascript" src="./assets/js/main.js"></script>
	</body>
</html>