<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>vue-boolflix</title>

		<!-- FONTAWESOME -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

		<!-- AGGIUNGERE I/IL PERCORSO/I DI CSS -->
		<link rel="stylesheet" href="assets/css/style.css">

	</head>

	<body>

		<div class="container">

			<div id="app">

				<div class="search_utility d_flex">

					<select id="selettore" @change="movieOrTv() & obtainMovieInfo(genre,userResearch)">
						<option value="film">Film</option>
						<option value="tv">Tv</option>
					</select>

					<div class="search_utility d_flex">
	
						<form @submit.prevent="obtainMovieInfo(userResearch)">
	
							<input class="search_input" placeholder="Cerca i tuoi contenuti preferiti" type="text" v-model="userResearch">
	
							<button type="submit" class="search_button d_flex"> <i class="fas fa-search"></i> Cerca</button>
						</form>
					</div>
				</div>

				<div class="movie_container container">

					<div class="movie_card" v-for="movie in moviesInfo">

						<h3 class="title">{{movie.title}}{{movie.name}}</h3>
						<h3 class="original_title">{{movie.original_title}}{{movie.original_name}}</h3>
						<span class="language">{{movie.original_language}}</span>
						<span class="vote">{{movie.vote_average}}</span>
					</div>
				</div>
			</div>
		</div>
		

		<!-- Vue-JS -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<!-- ajax -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
		<!-- JS -->
		<script type="text/javascript" src="./assets/js/main.js"></script>
	</body>
</html>